


body{
  background: rgb(2,0,36);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
  background: rgb(248,196,156);
background: linear-gradient(0deg, rgba(248,196,156,1) 0%, rgba(234,178,135,1) 22%, rgba(234,188,153,1) 46%, rgba(232,204,182,1) 100%);
}
@font-face {
  font-family: Text;
  src: url(./bomberescort.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
.section1Container
{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.section1ContainerTitle
{
  font-family: Text;
color: white;
font-size: 80px;
text-align: center;
margin-bottom: 10px;
}
.section1ContainerAddress{
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section1ContainerBtns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1ContainerBtns button{
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
margin: 10px;

  cursor: pointer;
  text-transform: uppercase;
}

.section1ContainerBtns button {
 
  
  background-color: #d06311;
  color: #FFFFFF;
  border-radius: 10px;
}

.section1ContainerBtns button:hover {
  background-color: #00507C;
}
.section2body{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2{
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.section2Container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}
.section2AboutImg
{
  width: 100%;
}
.section2AboutImg {
  position: relative;
right: 0;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0%, -20%) rotate(0);
  }
  50% {
    transform: translate(0%, -20%) rotate(20deg);
  }
  100% {
    transform: translate(0%, -20%) rotate(0);
  }
}
.section2About{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
padding: 10px;
}
.section2AboutTitle{
  font-family: Text;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}
.section2AboutText{
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.section2features{
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;
}
.section2featuresbox{
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d06311;
  padding: 20px 50px;
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}
.section2featuresbox img{
  margin-right: 10px;
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  animation: random-movement 10s infinite;
  transform-origin: center center;
  width: 300px;
}

@keyframes random-movement {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(100px, 50px) rotate(45deg);
  }
  50% {
    transform: translate(-50px, -100px) rotate(-45deg);
  }
  75% {
    transform: translate(-100px, 50px) rotate(90deg);
  }
  100% {
    transform: translate(50px, -50px) rotate(-90deg);
  }
}



.img2 {
  position: absolute;
  top: 0;
  right: 0;
  animation: random-movement2 10s infinite;
  transform-origin: center center;
  width: 300px;
}

@keyframes random-movement2 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(10px, 500px) rotate(-45deg);
  }
  50% {
    transform: translate(-50px, -100px) rotate(45deg);
  }
  75% {
    transform: translate(100px, 50px) rotate(90deg);
  }
  100% {
    transform: translate(50px, -50px) rotate(-90deg);
  }
}


@media screen and (max-width:1200px) {
  .section1Container
{
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.section1ContainerTitle
{
  font-family: Text;
color: white;
font-size: 50px;
text-align: center;
margin-bottom: 10px;
}
.section1ContainerAddress{
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  font-size: 10px;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section1ContainerBtns{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1ContainerBtns button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
margin: 10px;

  cursor: pointer;
  text-transform: uppercase;
}

.section1ContainerBtns button {
 
  
  background-color: #d06311;
  color: #FFFFFF;
  border-radius: 10px;
}

.section1ContainerBtns button:hover {
  background-color: #00507C;
}
.section2body{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2{
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.section2Container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.section2AboutImg img
{
  width: 100%;
}
.section2AboutImg {
  position: relative;
left: 0;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0%,-50%) rotate(0);
  }
  50% {
    transform: translate(0%, -50%) rotate(20deg);
  }
  100% {
    transform: translate(0%,-50%) rotate(0);
  }
}
.section2About{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
padding: 10px;
}
.section2AboutTitle{
  font-family: Text;
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
}
.section2AboutText{
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.section2features{
  margin-top: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
.section2featuresbox{
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #d06311;
  padding: 20px 50px;
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
}
.section2featuresbox img{
  margin-right: 10px;
}

.img1 {
  position: absolute;
  top: 0;
  left: 0;
  animation: random-movement 10s infinite;
  transform-origin: center center;
  width: 100px;
}

@keyframes random-movement {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(30px, 500px) rotate(45deg);
  }
  50% {
    transform: translate(-50px, -10px) rotate(-45deg);
  }
  75% {
    transform: translate(-10px, 500px) rotate(90deg);
  }
  100% {
    transform: translate(50px, -50px) rotate(-90deg);
  }
}



.img2 {
  position: absolute;
  top: 0;
  right: 0;
  animation: random-movement2 10s infinite;
  transform-origin: center center;
  width: 100px;
}

@keyframes random-movement2 {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  25% {
    transform: translate(10px, 500px) rotate(-45deg);
  }
  50% {
    transform: translate(-50px, -100px) rotate(45deg);
  }
  75% {
    transform: translate(10px, 50px) rotate(90deg);
  }
  100% {
    transform: translate(5px, -50px) rotate(-90deg);
  }
}


}